/* common style and utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: #E8E8E8; */
}
.container{
    width: 90vw;
    margin: 0 auto;

}


/*---------------------------------------
    Header section starts from here 
-----------------------------------------*/
#header{
    margin-top: 5vh;
    display: flex;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #161616;
    color: white;
    border-radius: 50px;

}

.left-side-header{
    height: 95%;
    width: 41%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.left-side-header h1{
    font-size: 4.5vw;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.left-side-header p{
    font-size: 1.2vw;
    font-weight: 400;
}
.left-side-header-span-1{
    display: none;
   
}
.left-side-header-span-2{
    margin-left: 0 !important;
}

/*++++++++++++
    Button
+++++++++++++*/
.wrapper {
    display: flex;
    justify-content: flex-start;
  }
  
  .cta {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 35px;
      color: white;
      background: #6225E6;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
    span {
      transform: skewX(15deg) 
    }
  
    span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #FBC638;
      }
      100% {
          fill: white;
      }
  }



.right-side-header{
    height: 100%;
    width: 40%;
    display: flex;
    position: relative;

}
.right-side-header img{
    height: auto;
    width: 100%;
    align-self: flex-end;
    position: absolute;
}

/*----------------------------
     Article section
------------------------------*/

.article{
    display: flex;
    margin-top: 40px;
    
}
.left-side-article{
    height: 312px;
    width: 250px;
    background-color: #161616;
    border-radius: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.left-side-article a{
    text-decoration: none;
    color:black;
    display: block;
    height: 64px;
    width: 210px;
    background-color: white;
    
    
    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-side-article-button-3{
    color: white;
    background-color: #DD0000;
}
.right-side-article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.blog{
    height: 350px;
    width: 300px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
}
.blog img{
    width: 100%;
}
.blog-sub-section-0{
    padding-left: 10px;
}
.blog-sub-section-0 a{
    display:block;
    height: 26px;
    text-align: center;

    width: 100px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}
.blog-sub-section-0 p{
    font-weight: 600;
    font-size: 18px;
}
.blog-sub-section{
    display: flex;
    align-items: center;
    color: #454545 ;
    padding-left:10px;
}

.clock{
    margin-right: 10px;
    color: #454545    ;
    
}
.blog-sub-section-p{
    margin-right: 30px;
    color: #454545    ;
}
.message{
    margin-right: 10px;
    color: #454545    ;
}


/*++++++++++++++++
   view all button
+++++++++++++++++++*/
#visible-at-tablet{
    display: none;
}
.view-all{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
}
.view-all a{
    height: 47px;
    width: 131px;
    border-radius: 5px;
    background-color: #DD0000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/*-----------------
    Footer section
--------------------*/
footer{
    height: 45vh;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer h2{
    font-size: 40px;
    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footer hr{
    color: #FFFFFF1A ;
    background-color: #FFFFFF1A;
    width: 100%;
    margin-bottom: 3%;
}
.footer-links{

    width: 80%;
    display: flex;
    justify-content: space-around;

} 

.footer-links a{
    
    text-decoration: none;
    color: #B9B9B9 ;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    width: 16.66%;

}

.social-links{
    
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    margin-top: 20px;
    color: white;
   
}
.social-links a{
    text-decoration: none;
    color: white;
}



/*-------------------------------
        Media query section
----------------------------------*/

/*------------------------
    Media querry for tablet
----------------------------*/

@media only screen  and (min-width:481px) and (max-width:950px) {
    #header{
       height: 40vh;

    }
    .left-side-header a{
        height: 4vh;
    }
    .btn-text{
        font-size: 2.9vw;
    }
    svg{
        height: 30px;
        width: 40px;
    }
    
    .article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-side-article{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        height: auto;
    }
    .left-side-article a{
        border: 1px solid #E8E8E8;
    }

    .right-side-article{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hidden-at-tablet{
        display: none;
    }
    #visible-at-tablet{
        display: block;
    }
    
    .footer-links{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }
    .footer-links a{
        width: 100px;
        margin-right: 20px;
    }
}

/*---------------------------
    Media querry for mobile 
------------------------------ */
@media only screen and (max-width:480px) {
    #header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95vw;
        border-radius: 10px;
        height: 75vh;
       
        

    }
    .left-side-header{
        height: 37vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        
    }
    .left-side-header a{
        height: 6vh;
        width: 33vw;
        font-size: 4vw;
        border-radius: 10px;

    }
    .left-side-header h1{
        font-size: 6.5vw;
        font-weight: 700;
        text-align: center;
    }
    .left-side-header p{
        text-align: center;
        font-size: 2.91vw;
    }
    .left-side-header-span-1{
        display: inline-block;
    }
    .left-side-header-span-2{
        display: none;
    }
    .btn-text{
        font-size: 4.9vw;
    }
    svg{
        height: 30px;
        width: 40px;

    }
    .right-side-header{
        /* height: 50vh; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right-side-header img{
        width: 70vw;
        align-content: flex-end;
        justify-content: center;
    }
    
    .article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-side-article{
        flex-direction: column;
        background-color: white;
    }
    .left-side-article a{
        border: 1px solid #E8E8E8;
    }
    .right-side-article{
        grid-template-columns: 1fr;
    }

    footer{
        height: 70vh;
        width: 100vw;
    }
    .footer-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .footer-links a{
        white-space: nowrap;
        display: inline-block;
        margin-top: 15px;
    }
}



/*---------------------------
    Upcoming match section 
-----------------------------*/

#upcoming-blog-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
}
.upcoming-blog-child-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;


}
.upcoming-blog-child-1 img{
    width: 40%;
    height: auto;
}
.upcoming-blog-child-2{
    text-align: center;
}